<div class="modal">
    <div class="modal-content">
      <h2>Обробити телеметрію</h2>
      <form (ngSubmit)="onSubmit()">
        <label for="drone-select">Оберіть дрон:</label>
        <select id="drone-select" [(ngModel)]="selectedDroneName" name="drone" required>
          <option *ngFor="let drone of drones" [value]="drone.name">{{ drone.name }}</option>
        </select>
  
        <div class="button-group">
          <button type="button" (click)="processingType = 'KALMAN'">Обробити Kalman</button>
          <button type="button" (click)="processingType = 'HAVERSINE'">Обробити Haversine</button>
          <button type="button" (click)="processingType = 'KALMAN_AND_HAVERSINE'">Обробити Kalman + Haversine</button>
        </div>
  
        <div class="action-buttons">
          <button type="submit" [disabled]="!processingType">Застосувати</button>
          <button type="button" (click)="onClose()">Закрити</button>
        </div>
      </form>
    </div>
  </div>