<div class="top-bar">
  <div class="action-menu">
    <button (click)="toggleDropdown('drones')">Дії для дронів</button>
    <div class="dropdown-content" *ngIf="isDropdownOpen.drones">
      <a (click)="addDrone()">Додати дрон</a>
      <a (click)="refreshDrones()">Оновити список дронів</a>
      <a (click)="showDronePath()">Показати шлях дрона</a>
      <a (click)="showProcessedAndRawPaths()">Порівняти сиру та оброблену телеметрію</a>
    </div>
  </div>

  <div class="action-menu">
    <button (click)="toggleDropdown('telemetry')">Дії для телеметрії</button>
    <div class="dropdown-content" *ngIf="isDropdownOpen.telemetry">
      <a (click)="addRawTelemetry()">Додати сиру телеметрію</a>
      <a (click)="showRawTelemetryModal()">Показати сиру телеметрію</a>
      <a (click)="showProcessedTelemetryModal()">Показати оброблену телеметрію</a>
      <a (click)="showProcessedAndRawPaths()">Показати різницю</a>
    </div>
  </div>

  <button class="process-btn" (click)="openProcessModal('KALMAN')">Обробити телеметрію</button>
  
  <button class="clear-btn" (click)="clearMapExceptDrones()">Очистити мапу</button>
</div>

<div id="map"></div>

<app-add-drone-modal
  *ngIf="isModalOpen"
  (save)="onDroneSaved($event)"
  (close)="closeModal()"
></app-add-drone-modal>

<app-add-raw-telemetry-modal
  *ngIf="isRawTelemetryModalOpen"
  (close)="closeRawTelemetryModal()"
></app-add-raw-telemetry-modal>

<app-show-drone-path-modal
  *ngIf="isDronePathModalOpen"
  (close)="onDronePathSelected($event)"
></app-show-drone-path-modal>

<app-raw-telemetry-view 
  *ngIf="isRawTelemetryModalVisible" 
  [rawTelemetryData]="rawTelemetryData"
  (close)="closeRawTelemetryModal()">
</app-raw-telemetry-view>

<app-processed-telemetry-view 
  *ngIf="isProcessedTelemetryModalVisible" 
  [processedTelemetryData]="processedTelemetryData"
  (close)="closeProcessedTelemetryModal()">
</app-processed-telemetry-view>

<app-process-telemetry-modal
  *ngIf="isProcessModalOpen"
  (process)="onProcessTelemetry($event)"
  (close)="closeProcessModal()"
></app-process-telemetry-modal>

<app-telemetry-selector-modal
  *ngIf="isTelemetrySelectorModalOpen"
  (selected)="onDroneSelected($event)"
  (close)="closeTelemetrySelectorModal()"
></app-telemetry-selector-modal>

<app-compare-telemetry-modal
  *ngIf="isCompareModalOpen"
  (compare)="onCompareSelected($event)"
  (close)="closeCompareModal()"
></app-compare-telemetry-modal>